*.log
*.lgp
*.lgf
*.dbf
*.cdx
*.fpt
*.mxl
*.cf
*.cfu
*.cfi
/Data/
/Logs/
/Trn/
/ExtFiles/
/Help/
/Reports/
/DataProcessor/
/Documents/
/Catalogs/
/ChartsOfCharacteristicTypes/
/ChartsOfAccounts/
/ChartsOfCalculationTypes/
/InformationRegisters/
/AccumulationRegisters/
/AccountingRegisters/
/CalculationRegisters/
/BusinessProcesses/
/Tasks/
/Enums/
/Sequences/
